# Estado de autenticação
fixtures/authenticatedState.json

# Relatórios
test-results/
playwright-report/

# Artefatos de teste
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Dados temporários criados durante os testes
*.tmp
*.temp 